@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .addcard {
    background-image: repeating-linear-gradient(17deg, #333333, #333333 25px, transparent 25px, transparent 39px, #333333 39px), repeating-linear-gradient(107deg, #333333, #333333 25px, transparent 25px, transparent 39px, #333333 39px), repeating-linear-gradient(197deg, #333333, #333333 25px, transparent 25px, transparent 39px, #333333 39px), repeating-linear-gradient(287deg, #333333, #333333 25px, transparent 25px, transparent 39px, #333333 39px);
    background-size: 3px calc(100% + 40.78px), calc(100% + 40.78px) 3px, 3px calc(100% + 40.78px) , calc(100% + 40.78px) 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 2s infinite linear;
    }
    
    @keyframes borderAnimation {
    from { background-position: 0 0, -40.78px 0, 100% -40.78px, 0 100%; }
    to { background-position: 0 -40.78px, 0 0, 100% 0, -40.78px 100%; }
    }
}